<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firebase.uidemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    
    <application
        android:name=".auth.LeakCatcher"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tada!"
        android:theme="@style/AppTheme"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ChooserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <!-- ChatList -->
        <activity android:name=".chat.ChatListActivity"
            android:label="ChatList Activity"></activity>

        <activity android:name=".chat.ChatNewMessageActivity"
            android:label="Chat New Message Activity"></activity>

        <!-- Chat demo -->
        <activity
            android:name=".chat.ChatActivity"
            android:parentActivityName=".chat.ChatListActivity"
            android:label="@string/name_chat"/>

        <!-- Auth UI demo -->
        <activity
            android:name=".auth.AuthUiActivity"
            android:label="@string/name_auth_ui"/>
        <activity
            android:name=".auth.SignedInActivity"
            android:label="@string/name_auth_ui"/>

        <!-- Storage UI demo-->
        <activity
            android:name=".storage.ImageActivity"
            android:label="@string/name_image"/>

        <!-- List choice activity -->
        <activity
            android:name=".todolist.ListsActivity"/>

        <!-- To-Do List choice activity -->
        <activity
            android:name=".todolist.ToDoListActivity"/>
        <activity
            android:name=".todolist.TaskEditActivity"/>
    </application>

</manifest>
